body{
	font-family: 'Raleway', sans-serif ;
}

#header{
	position: relative;;
	border-bottom: 1px solid rgba(0, 0, 0, 0.8);
	background: url(../img/bg-header.jpg) repeat-x;
	padding-top: 40px;	
	box-shadow: 0px 5px 25px #000 !important;
	z-index: 9999;	
}

.foto-projeto{
	border: 1px solid #f2f2f2;
	padding: 4px;
	border-radius: 5px;
}
.foto-projeto:hover{
	border: 1px solid #999;
	
}

ul.nav{
	margin-top: 20px !important;
	margin-bottom: 0px;
}

.navbar ul li a{		
	color: #fff !important;
	font-weight: 500;
	font-size: 16px;
	text-shadow: 2px 2px 6px #333 !important;
}
.navbar ul li a:hover{
	text-decoration: underline;
}
.navbar{
	background: none !important;
	border: none !important;
	box-shadow: none !important;
}
.navbar-collapse{
	border: none;
}
.dropdown-open{
	background: #000 !important;
}
.dropdown-menu{
	background: #000;
}
.dropdown-menu li a{
	background: #000;
	border: none;
}
.dropdown-menu li a{
	padding: 10px !important;
	padding-right: 80px !important;
}
/*
.contact-area{
	margin-top: 0px;
	list-style: none;
	text-align: right;
}
.contact-area li{
    color: #f2f2f2 !important;
    font-size: 1em;
    display: inline-table;
	text-shadow: 2px 2px 6px #333 !important;
}*/

#footer{
	height: 120px;
	margin: 50px 0;
	background: #fbfbfb;
	border-top: 1px solid #f2f2f2;
}

#footer p{
	padding-top: 15px;
	font-size: 1.2em;
	text-align: center;
}
#footer p span{
	font-style: italic;
	font-size: 0.8em;
	color: #999;
}

.top-page{
	background: url(../img/capa-pages.jpg) no-repeat top;
	padding-top:20px;
}



h1{
	color: #000 !important;
	font-size: 4em !important;
	text-shadow: 2px 1px 1px #999
}

h3{
	color: #8B4726;
	font-weight: 400;
	font-size: 230%;
	text-decoration: none;
}
h3:hover{
	text-decoration: none !important;
}
p{
	color: #000;
	font-size: 1.2em;
}
a:hover{
	text-decoration: none;
}

textarea{
	height: 220px !important;
}

label{
	font-weight: normal;
	color: #666;
	font-size: 1.2em
}
.navbar-brand{
	background: top;
	margin-top: -40px;
}
.logo{	
	color: #EA8F3F !important;
	text-shadow: 2px 1px 4px #000;
	font-weight: bolder;	
	font-size: 24px;
	margin-right: 30px;
}
.logo .sub{
	font-size: 14px;
	font-weight: normal;
	color: #fff;
}
.face-icon{
	margin-top: -8px;
}
.navbar-header{
	height: 120px;
}


.demo-2 {
    position:relative;
    width: 100%;
    max-width: 510px;
    height: 201px;
    overflow:hidden;
    
    list-style: none;
    color: #333;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c9d6db+-1,e8f2f1+0,e3eaed+37,f2f5f6+75,f2f5f6+100 */
	background: #c9d6db; /* Old browsers */
	background: -moz-linear-gradient(top,  #c9d6db -1%, #e8f2f1 0%, #e3eaed 37%, #f2f5f6 75%, #f2f5f6 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #c9d6db -1%,#e8f2f1 0%,#e3eaed 37%,#f2f5f6 75%,#f2f5f6 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #c9d6db -1%,#e8f2f1 0%,#e3eaed 37%,#f2f5f6 75%,#f2f5f6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9d6db', endColorstr='#f2f5f6',GradientType=0 ); /* IE6-9 */
}
.demo-2 p,.demo-2 h2 { 
    padding:5px;
    left:-30px;
    top: 5px;
    position:relative
}
.demo-2 p {
    font-size:14px;
    line-height:18px;
    margin:0
}
.demo-2 h2 {
    font-size:24px;
    line-height:24px;
    margin:0;
}
.effect img {
    position:absolute;
    left:0;
    bottom:0;
    cursor:pointer;
    -webkit-transition:bottom .3s ease-in-out;
    -moz-transition:bottom .3s ease-in-out;
    -o-transition:bottom .3s ease-in-out;
    transition:bottom .3s ease-in-out
}
.effect img.top:hover {
    bottom:-96px;
    padding-top:100px
}
a .effect:hover{
	text-decoration: none;

}
h2.zero,p.zero {
    margin:0;
    padding:0
}
@media(max-width:767px){
	h1{
		font-size: 3em !important;
	}
	.demo-2{
		width: 100%;
    	max-width: 510px;    
    	height: auto;
    	height: 175px;
	}
	.texto{
		display: none;
		height: auto;
	}
	.effect img {
		top: 0;
	    -webkit-transition: none;
	    -moz-transition:none;
	    -o-transition: none;
	    transition: none
	}	
	.effect img.top:hover {
	    bottom:0;
	    padding-top:0
	}

	}
@media (max-width: 480px) {
	.demo-2{
		width: 100%;
    	max-width: 510px;    
    	height: auto;
    	height: 140px;
	}
	.texto{
		display: none;
		height: auto;
	}
	.effect img {
		top: 0;
	    -webkit-transition: none;
	    -moz-transition:none;
	    -o-transition: none;
	    transition: none
	}	
	.effect img.top:hover {
	    bottom:0;
	    padding-top:0
	}	
}

